<div class="entry-meta-shares">

  <div class="baremenu-button">
    <div class="sharemenu">
      <div class="sharemenu-main">
        <a rel="nofollow" target="_blank" class="share-twitter sd-button share-icon" href="https://twitter.com/intent/tweet?url={{url absolute='true'}}" title="Share on Twitter">
          <span class="icon"></span>
          Twitter
        </a>
        <a rel="nofollow" target="_blank" class="share-facebook sd-button share-icon" href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" title="Share on Facebook">
          <span class="icon"></span>
          Facebook
        </a>
        <a rel="nofollow" target="_blank" class="share-google-plus-1 sd-button share-icon" href="https://plus.google.com/share?url={{url absolute='true'}}" title="Share on Google Plus">
          <span class="icon"></span>
          Google
        </a>
        <a rel="nofollow" target="_blank" class="share-pinterest sd-button share-icon" href="{{url absolute='true'}}" title="Share on Pinterest">
          <span class="icon"></span>
          Pinterest
        </a>
      </div>
    </div>
  </div>

</div>
