<section id="widgets" role="complementary" style="background-color: rgba(0,0,0,0) !important;" {{! class="no-nav" }}>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

  <a id="widgets-close">
    <span class="screen-reader-text">Close navigation</span>
    <img src="{{asset '/images/icon-menu-close.svg'}}">
  </a>

  <nav id="site-navigation" class="widget" role="navigation">

    <!-- Standard Blog Navigation -->
    <ul>
    <li><a href="/">Accueil</a></li>
      <li><a href="/">Contact</a></li>
    </ul>
  </nav>

  <!-- Categories Navigation -->
  <aside id="meta" class="widget">
    <h1 class="widget-title">Filtre</h1>
    <ul>
      <li><a href="/tag/blues/">Blues</a></li>
      <li><a href="/tag/Chillout/">Chillout</a></li>
      <li><a href="/tag/Classique/">Classique</a></li>
      <li><a href="/tag/hardRock">HardRock / Metal / Stoner</a></li>
      <li><a href="/tag/musique-electronique">Musique Electronique</a></li>
      <li><a href="/tag/pop">Pop</a></li>
      <li><a href="/tag/rap">Rap - Hip Hop</a></li>
      <li><a href="/tag/rock">Rock / Folk / Indie</a></li>
      <li><a href="/tag/soundtrack">Soundtrack / Trailer </a></li>
      <li><a href="/tag/trip-Hop">Trip-Hop / Downtempo</a></li>
      <li><a href="/tag/autres">Autre</a></li>
    </ul>
  </aside>

</section>
