<!-- START DISABLED CODE
=======================================================
The following social media links are supported by this
theme. Currently they are all disabled. If you would
like to enable any of the following links, simply move
them below the 'END DISABLED CODE' line and include
your desired URL
=======================================================
-->
<a class="social social-youtube" href="https://www.youtube.com/user/SilentCityRadio" rel="external" target="_blank"><span class="screen-reader-text">YouTube</span></a>
<a class="social social-twitter" href="https://twitter.com/SilentCityRadio" rel="external" target="_blank"><span class="screen-reader-text">Twitter</span></a>
<a class="social social-facebook" href="https://www.facebook.com/SilentCityRadio" rel="external" target="_blank"><span class="screen-reader-text">Facebook</span></a>
<a class="social social-googleplus" href="https://plus.google.com/116824386765909987054" rel="publisher" target="_blank"><span class="screen-reader-text">Google +</span></a>
